
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<center>
    <img src="https://yt3.ggpht.com/a-/ACSszfHfWOERcAazTmaZYpBxmWlpKsuZ9stc8GeE0A=s88-mo-c-c0xffffffff-rj-k-no" />
    <p>
        Mi Nombre es Arnett Jimenez Matricula (2016-3904), Estudiante de termino de el instituto <br/>
        tecnologico de las Americas (ITLA).
    </p>

    <a href="Formulario" class="btn btn-primary">Dale aqui</a>
</center>

