 
@{
    ViewBag.Title = "Index";
}
<style>    

    /*a {
        border-radius: 5px;
        padding: 10px 7px;
        text-decoration: none;
        color: #fff;
        background-color: #333;
        margin: 5px;
    }*/
    p{
        font:bold;
    }

</style>

<div style="text-align: center">
    <h2>Bienvenida.....</h2>
            <br />
    <p >
            !! Hola soy Arnett Jiménez (2016-3904) <br />
            dale al boton "Aqui" para que me llenes <br />
            un formulario.
    </p>
            <br /><br />
    <a href="Preguntas/Formulario" class="btn btn-primary">Dale aqui</a>
   
    
</div>